.chat-container {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    flex-grow: 4;
}

.list-messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 85%;
    border: 1px solid green;
    overflow-y: scroll;

}

.input-container {
    height: 10%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid blue;
}

.chat-input {
    display: flex;
    align-items: center;
    height: 40%;
    width: 80%;
}

.send-button {
    height: 50%;
    width: 15%;
}

@media screen and (max-width: 1200px) {
    .chat-container {
        height: 400px;
    }
}