.room-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.room-team-chat-container {
    width: 95%;
    display: flex;
    align-items: center;
}

.room-header {
    width: 95%;
    border: 1px solid red;
}

.settings-container {
    display: flex;
    justify-content: center;
}

.settings-container > div {
    margin: 0px 10px;
}


@media screen and (max-width: 1200px) {
    .room-team-chat-container {
        flex-direction: column-reverse;
        align-items: unset;
    }

}