.team-container {
    min-height: 550px;
    flex-grow: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.teams-container {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    height: 500px;
}

.angel-team-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    align-items: center;
    padding: 10px 0px;
}

.demon-team-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
    align-items: center;
    padding: 10px 0px;
}

.socket-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid purple;
    width: 17%;
    margin: 3px 0px;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .team-container {
        margin: 20px 0px;
        height: 400px;
    }
}