.team-container {
    border: 1px solid green;
    height: 600px;
    flex-grow: 5;
    display: flex;
}

.angel-team-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.demon-team-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.angel-team-socket {
    border: 1px solid blue;
    width: 45%;
    height: 17%;
}

.demon-team-socket {
    border: 1px solid red;
    width: 45%;
    height: 17%;
}

.demon-team-socket:hover, .angel-team-socket:hover {
    border-color: yellow;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .team-container {
        margin: 20px 0px;
        height: 400px;
    }
}